img{
    width: 30%;
    height:250px;
    margin-left :35%;
    vertical-align: middle;
    align-content: center;
}
@media(max-width:800px) {img{
    width:320px;
    height:200px;
    margin-left:50px;
    vertical-align: middle;
    align-content: center;
}}