img{
    width: 30%;
    height:250px;
    margin-left :35%;
    margin-bottom: 46vh;
    vertical-align: middle;
    align-content: center;
}
@media(max-width:800px) {img{
    width:320px;
    height:200px;
    margin-left:10%;
    margin-bottom: 55vh;
}}
@media(max-width:650px) {img{
    width:90%;
    height:200px;
    margin-left:5%;
    margin-bottom: 55vh;
}}
.movie-home{
    position: relative;
    left: 49%;
    top: 15%;
}