.spacer {
    height: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.footer-div{
    height: 30px;
    color:  #54678F;
    text-align: center;
}
.hbtn-scroll{
    position: fixed;
    top: 50%;
    right: 2.5%;
    border-radius: 49%;
    display: none;
    height: 36px;
    outline: none;
    text-decoration: none;
}