<article class="navbar">
  <a href="/movies" style="font-size :24px;" title="Go To Home"><b>MOVIE SEARCH</b></a>
  <!-- input and search button -->
  <div class="search-container"*ngIf="showSearch">
      <input type="text" placeholder="Search for movies.." (keyup)="searchMovie($event)" [(ngModel)]="searchQuery"  name="search">
      <button type="submit">
        <i class="material-icons search-logo" (click)="searchMovie($event)" >
          search
        </i>
      </button>
  </div>
</article>
