/* You can add global styles to this file, and also import other style files */
/*  @import "./colors.scss"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    scroll-behavior: smooth;
    font-size: 100%;
    /* overflow-x: hidden; */
}

body {
    /* font-family: Segoe UI, Arial, sans-serif; */
    font-family: 'Raleway', sans-serif;
    color: gray;
    /* background-color:#9199BE; */
    width : 100%;
    margin:0px;
    padding: 0px;
}
.grid-container {
    width : 90%;
    margin: auto;
}
.grid-container-fluid {
    width : 100%;
    max-width : 100%; 
}
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}
[class*='col-'] {
    float: left;
    min-height: 20px; 
    width: 8.33%; 
    /* padding: 1px;  */
    /* margin:1px; */
    background-color: white;
}
[class*='col-'] > p {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center; 
    color: rgb(20, 18, 18); 
   }
.outline, .outline *{
    outline: 1px solid #F6A1A1; 
}
.col-1{
    width: 8.33%;
    
}
.col-2{
    width: 16.66%; 
    
}
.col-3{
    width: 25%; 
    
}
.col-4{
    width: 33.33%;
     
}
.col-5{
    width: 41.65%;
     
}
.col-6{
    width: 50%; 
    
}
.col-7{
    width: 58.31%;
    
}
.col-8{
    width: 66.664%;
    
}
.col-9{
    width: 74.97%;
    
}
.col-10{
    width: 83.33%;
    
}
.col-11{
    width: 91.63%;
    
}
.col-12{
    width: 100%;
    
}

@media all and (max-width:800px){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 50%;     }
    .col-3{ width: 83.33%;  }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
    .col-7{ width: 100%;    }
    .col-8{ width: 100%;    }
    .col-9{ width: 100%;    }
    .col-10{ width: 100%;    }
    .col-11{ width: 100%;    }

    /* .row .col-2:last-of-type{
        width: 100%; 
    } */

    .row .col-5 ~ .col-1{
        width: 100%; 
    }
}
@media all and (max-width:650px){
    .col-1{ width: 33%;}
    .col-2{ width: 50%;}
    .col-3{ width: 100%;}
    .col-4{ width: 100%;}
    .col-5{ width: 100%;}
    .col-6{ width: 100%;}
    .col-7{ width: 100%;    }
    .col-8{ width: 100%;    }
    .col-9{ width: 100%;    }
    .col-10{ width: 100%;    }
    .col-11{ width: 100%;    }
}